.btn {
  @include btn;

  &--animated {
    transition: all .2s;
  }
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);

    &:hover {
      background-color: lighten($color: $val, $amount: 10);
    }
  }

  .btn-outlined-#{$key} {
    @include btn($color-white);
    border: $base-border-size solid $val;

    &:hover {
      background-color: $val;
    }
  }

  .btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);

    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}